n8n/workflow.json
{
  "name": "Fitness Coach - Messages motivants",
  "nodes": [
    {
      "parameters": {
        "path": "session-done",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook_session",
      "name": "Séance terminée (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\"Séance terminée, bien joué 💪 Chaque effort compte, continue comme ça !\", \"GG pour cette séance ! La régularité paie toujours, ne lâche rien.\", \"Encore une séance dans la poche 🔥 Tu construis quelque chose de solide.\", \"Bravo pour ta discipline aujourd'hui, c'est ça qui fait la différence sur la durée.\", \"Séance validée ! Un pas de plus vers tes objectifs, never give up.\"];\nconst msg = messages[Math.floor(Math.random() * messages.length)];\nreturn [{ json: { message: msg } }];"
      },
      "id": "pick_congrats",
      "name": "Choisir un message de félicitations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{ JSON.stringify({ content: $json.message }) }}",
        "options": {}
      },
      "id": "send_congrats",
      "name": "Envoyer sur Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "trigger_nudge",
      "name": "Rappel du soir",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const auth = 'Basic ' + Buffer.from(`${$env.APP_USER}:${$env.APP_PASSWORD}`).toString('base64');\nreturn [{ json: { ...$json, auth } }];"
      },
      "id": "auth_nudge",
      "name": "Construire l'auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.auth}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_stats_nudge",
      "name": "Récupérer les stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.today_done}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_not_done",
      "name": "Séance pas encore faite ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const messages = [\"Pas encore de séance aujourd'hui... tu as encore le temps, never give up 💪\", \"Un petit rappel amical : ta séance t'attend. Chaque jour compte.\", \"N'oublie pas ta séance du jour — la constance bat toujours l'intensité ponctuelle.\", \"Allez, encore une séance et tu seras fier de toi ce soir. Never give up !\"];\nconst msg = messages[Math.floor(Math.random() * messages.length)];\nreturn [{ json: { message: msg } }];"
      },
      "id": "pick_nudge",
      "name": "Choisir un message motivant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{ JSON.stringify({ content: $json.message }) }}",
        "options": {}
      },
      "id": "send_nudge",
      "name": "Envoyer le rappel Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      },
      "id": "trigger_weekly",
      "name": "Bilan hebdo",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const auth = 'Basic ' + Buffer.from(`${$env.APP_USER}:${$env.APP_PASSWORD}`).toString('base64');\nreturn [{ json: { ...$json, auth } }];"
      },
      "id": "auth_weekly",
      "name": "Construire l'auth (2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        420
      ]
    },
    {
      "parameters": {
        "url": "={{$env.APP_URL}}/api/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.auth}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_stats_weekly",
      "name": "Récupérer les stats (2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const quotes = ['La discipline bat la motivation, chaque jour.', 'Never give up : ce que tu fais aujourd\\'hui construit qui tu seras demain.', 'Les résultats viennent de la régularité, pas de la perfection.'];\nconst quote = quotes[Math.floor(Math.random() * quotes.length)];\nconst message = `📊 Bilan de la semaine\\n\\nSéances totales : ${$json.total_sessions}\\nStreak actuelle : ${$json.streak_days} j\\nVolume 7 derniers jours : ${$json.volume_7d} kg\\n\\n💬 ${quote}`;\nreturn [{ json: { message } }];"
      },
      "id": "build_weekly_msg",
      "name": "Construire le message hebdo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{ JSON.stringify({ content: $json.message }) }}",
        "options": {}
      },
      "id": "send_weekly",
      "name": "Envoyer le bilan Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        420
      ]
    }
  ],
  "connections": {
    "Séance terminée (webhook)": {
      "main": [
        [
          {
            "node": "Choisir un message de félicitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choisir un message de félicitations": {
      "main": [
        [
          {
            "node": "Envoyer sur Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rappel du soir": {
      "main": [
        [
          {
            "node": "Construire l'auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire l'auth": {
      "main": [
        [
          {
            "node": "Récupérer les stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer les stats": {
      "main": [
        [
          {
            "node": "Séance pas encore faite ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Séance pas encore faite ?": {
      "main": [
        [
          {
            "node": "Choisir un message motivant",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Choisir un message motivant": {
      "main": [
        [
          {
            "node": "Envoyer le rappel Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bilan hebdo": {
      "main": [
        [
          {
            "node": "Construire l'auth (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire l'auth (2)": {
      "main": [
        [
          {
            "node": "Récupérer les stats (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer les stats (2)": {
      "main": [
        [
          {
            "node": "Construire le message hebdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire le message hebdo": {
      "main": [
        [
          {
            "node": "Envoyer le bilan Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}